<div class="blueBanner">
  <div>
    <div class="blueBanner-container">
      <h4 class="blueBanner-header">Quable App Template</h4>
      <p class="blueBanner-body">
        This application template will help you to speed up the development of
        quable apps.
      </p>
      <span>
        <a tabindex="0" href="#" rel="noreferrer"> View documentation </a>
      </span>
    </div>
  </div>
</div>
