%button {
  top: unset;
  right: unset;
  position: static;
  margin-inline-start: auto;
  opacity: 1;
  color: var(--q-fg-quaternary);
  flex: 0 0 24px;
  height: 24px;
  border-radius: var(--q-border-radius-100);
  padding: var(--q-space-50);
  font-size: var(--q-font-weight-medium);
  background-color: transparent;
  flex: 0 0 auto;

  &:hover {
    background-color: var(--q-bg-primary_hover);
  }

  &:active {
    background-color: var(--q-bg-tertiary);
  }

  & > svg {
    height: 20px;
    width: 20px;
  }
}

.qToastContainer {
  --toastify-color-light: #fff;
  --toastify-color-info: var(--q-fg-brand-secondary);
  --toastify-color-success: var(--q-color-success-500, #19b07e);
  --toastify-color-warning: var(--q-color-warning-500, #fd7e14);
  --toastify-color-error: var(--q-color-error-500, #eb4848);
  --toastify-color-transparent: var(--q-bg-quaternary, #e4e7ec);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-container-width: fit-content;
  --toastify-toast-width: 200px;
  --toastify-toast-offset: 20px;
  --toastify-toast-top: max(
    var(--toastify-toast-offset),
    env(safe-area-inset-top)
  );
  --toastify-toast-right: max(
    var(--toastify-toast-offset),
    env(safe-area-inset-right)
  );
  --toastify-toast-left: max(
    var(--toastify-toast-offset),
    env(safe-area-inset-left)
  );
  --toastify-toast-bottom: max(
    calc(var(--toastify-toast-offset) + var(--q-upload-toast-height, 0px)),
    env(safe-area-inset-bottom)
  );
  --toastify-toast-background: #fff;
  --toast-border-width: 1px;
  --toastify-toast-padding: calc(
    var(--q-space-300) - var(--toast-border-width)
  );
  --toastify-toast-min-height: 56px;
  --toastify-toast-max-height: 800px;
  --toastify-toast-bd-radius: var(--q-border-radius-100);
  --toastify-toast-shadow: var(--box-shadow-lg);

  --toastify-font-family: var(--q-font-family-sans);
  --q-toast-z-index: 1400;
  --toastify-z-index: var(--q-toast-z-index);
  --toastify-text-color-light: var(--q-text-primary);

  --toastify-spinner-color: var(--q-color-gray-700);
  --toastify-spinner-color-empty-area: var(--q-color-gray-200);
  --toastify-color-progress-light: var(--q-fg-quaternary);
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
  --toastify-color-progress-bgo: 1;

  --progress-bar-height: 4px;
  --border-width: 1px;

  gap: var(--q-space-300);

  .toastButton {
    @extend %button;

    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: var(--q-radius-100);
    padding: var(--q-space-150) var(--q-space-300);
    color: var(--q-text-secondary);
    font-weight: var(--q-font-weight-semibold);
    font-size: var(--q-text-body-sm-font-size);
    line-height: var(--q-text-body-sm-font-line-height);
    letter-spacing: var(--q-space-none);
    height: 28px;
  }

  .Toastify {
    &__toast {
      box-sizing: border-box;
      padding-bottom: calc(
        var(--toastify-toast-padding) + var(--progress-bar-height)
      );
      border: var(--toast-border-width) solid var(--q-border-secondary, #e4e7ec);
      max-width: 450px;
      min-width: 200px;
      width: auto;
      font-size: var(--q-font-size-13);
      font-weight: var(--q-font-weight-medium);
      line-height: var(--q-font-line-height-20);
      margin-bottom: 0;
    }

    &__progress-bar {
      opacity: 1;

      &--bg {
        background-color: var(--q-bg-quaternary);
      }

      &--wrp {
        height: var(--progress-bar-height);
      }
    }

    &__close-button {
      @extend %button;
    }

    &__toast-icon {
      margin-inline-end: var(--q-space-200);
      width: auto;

      & > svg {
        font-size: 20px;
      }
    }
  }

  .blank-space {
    width: var(--q-space-200);
    flex: 0 0 var(--q-space-200);
  }

  button {
    word-break: normal;
    font-family: var(--q-font-family-sans);
  }
}
